.quickBox {
  display: flex;
  flex-wrap: wrap;
  height: 170px;
  .item {
    width: 100px;
    display: flex;
    flex-shrink: 0 !important;
    flex-direction: column;
    align-items: center !important;
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
    .navTtl {
      width: 100px;
      height: 35px;
      padding-top: 3px;
    }
    .icon {
      width: 50px;
      height: 50px;
      border-radius: 4px;
      text-align: center;
      i {
        color: #fff;
        font-size: 24px !important;
        line-height: 50px !important;
      }
    }
  }
}
/* echarts */
.chartBox {
  .el-card__body {
    padding: 10px;
    .chart {
      width: 400px;
      height: 260px;
      margin: 0 auto;
    }
  }
}
/* 单据提示 */
.numBox {
  text-align: center;
  p {
    display: inline-block;
    color: #999;
  }
  .num {
    padding-right: 10px;
    font-size: 32px;
  }
}
/* 新功能上线提醒 */
.funList {
  height: 170px;
  li {
    margin-bottom: 8px;
    i {
      color: #ff6600;
      font-size: 12px !important;
    }
  }
}